/* set color scheme */
:root[color-mode="dark"] {
    --color-background: #262626;
    --color-default: #cccccc;
    --color-accent-1: #89a1c4;
    --color-accent-2: #989ea6;
    --color-accent-3: #6c85ab;
    --border-color: #e6e9eb;
}

:root[color-mode="light"] {
    --color-background: #F2F2F2;
    --color-default: #262626;
    --color-accent-1: #89a1c4;
    --color-accent-2: dimgrey;
    --color-accent-3: #6c85ab;
    --border-color: #3A3A3A;
}

body {
    color:var(--color-default);
    background-color:var(--color-background);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

section{
    padding-top: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

div{
    margin: auto;
    line-height: 1.6;
    max-width: 900px;
}

/* Style website header */
header{
    background-color: var(--color-background);
    width: 100%;
    height: 150px;
    position: fixed;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    left: 0;
    top:  0;
    font-family: 'Josefin Sans', sans-serif;
}



/* Style the navigation menu */
.sticky-wrapper {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--color-background);
    position: sticky;
    top: 0;
    z-index: 13;
}

.navbar {
    width: 80%;
    background-color: var(--color-background);
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: var(--color-accent-2);
    text-decoration: none;
    font-size: 17px;
    font-weight: lighter;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
}


/* Style the current/active link */
.navbar a.active {
    color: var(--color-default);
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.row {
    margin-left: 20px;
    margin-right: 20px;
}

/* style text in two columns */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Style main text elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-variant:small-caps;
}

h1{
    text-align: center;
    font-size: 32px;
}


h3{
    margin-top: 25px;
    font-size:20px;
}

p {
    font-size: 12pt;
    font-weight: lighter;
    max-width: 900px;
    text-align: justify;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    line-height: 1.4;
    color: var(--color-default);
}

ul, li {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
}


img {
    width: 70%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 7%;
    display:table-cell;
    clear: right;
    vertical-align: middle;
}


.text-block {
    bottom: 50px;
    display: block;
    width: 740px;
    padding-bottom:10px;
}


a{
    text-decoration: none;
    color: var(--color-accent-1);
}

a:hover{
    text-decoration: none;
    color: var(--color-accent-3);
}



/* style darkmode button */
.dark-mode-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.icon-btn {
    background-color: var(--color-background);
    height: 32px;
    width: 32px;
    margin: 8px 8px;
    cursor: pointer;
}


/* style footer */
.footer {
    background-color: var(--color-background);
    position: fixed;
    position: -ms-device-fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

#section {
    margin-left: 5%;
    margin-right: 5%;
}
.papertitle{
    font-style: italic;
}
.coauthors {
    color: var(--color-accent-2);
    font-size: 10.5pt;
    margin-top: 0;
}

.abstract {
    font-size: 10.5pt;
    color: var(--color-accent-2);
    margin-top: 0;
    margin-left: 10%;

}

#disclaimer {
    text-align: right;
    font-size: 10pt;
}



@media all and (max-width: 800px){
    div{
       margin-left: 5%;
       margin-right: 5%;
    }

    .text-block{
        width: 90%;
        height:auto;
    }
    img {
        float: center;
        width: 80%;
        clear: both;
        height:auto;
        margin-left: 10%;
        margin-right: 10%;
        display: block;
        max-width: 275px;
        vertical-align: middle;
    }

    div.show {
        display: none;
    }

    div.hide{
        display: block;
    }

    .empty{
        height: 200px;
    }

    .emptysmall{
        height: 20px;
    }

    .header{
        height: 200px;
    }

    .empty2{
        height: 120px;
    }

}


@media all and  (min-width: 1700px){
    body{
        font-size:16px;
    }

    h1{
        font-size: 50px;
    }

    h3{
        font-size:25px;
    }


    header{
        font-size: 20px;
        height: 260px;
    }

    div{
        max-width:1000px;
    }

    .empty{
        height: 250px;
    }

    p.ex2{
        max-width:1000px;
    }


    .text-block {
        width: 900px;
        height: 420px;
    }


    img {
        width: 300px;
        height: 420px;
        max-width: 300px;
    }
}




