:root {
    --color-background: #F2F2F2;
    --color-default: #262626;
    --color-accent-1: #4b7bc4;
    --color-accent-2: dimgrey;
    --color-accent-3: #385e96;
    --border-color: #3A3A3A;
}

:root[color-mode="light"] {
    --color-background: #F2F2F2;
    --color-default: #262626;
    --color-accent-1: #4b7bc4;
    --color-accent-2: dimgrey;
    --color-accent-3: #385e96;
    --border-color: #3A3A3A;
}

:root[color-mode="dark"] {
    --color-background: #262626; /*#262626*/
    --color-default: #cccccc;
    --color-accent-1: #5981d1; /* #89a1c4*/
    --color-accent-2: #AAB2BB;
    --color-accent-3: #3b60aa;
    --border-color: #e6e9eb;
}

/* automatically read preferred color scheme */
/* @media (prefers-color-scheme: dark) {
    html {
        color-mode: dark;
      }
}
 */

:root {
    --navbar-width: 253px;
    --fontsize-normal: 13pt;
}

/* reset margins for everything to zero */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color:var(--color-default);
    background-color:var(--color-background);
    font-family: 'Crimson Pro', serif; /* InaiMathi */
    font-size: 1em;
    /*   display: flex;
    min-height: 100vh; */
}

.container {
  display: flex;
}

.content {
    max-width: 1000px;
}

/* style the navigation bar */
nav {
    width: var(--navbar-width);
    padding: 2rem 1rem;
    margin-left: 1em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav h1 {
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 2em;
}

nav h1 a {
    all: unset;
    color: inherit;
    font: inherit;
    text-decoration: none; /* Or `inherit`, depending on your design */
}

nav h1 a:hover {
    text-decoration: none; /* Or `inherit`, depending on your design */
    border-bottom: none;
    cursor: pointer; /* optional: makes it still feel like a link */
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Navigation links */
nav a {
    color: var(--color-accent-2);
    font-family: 'Neutraface Text', sans-serif;
    font-weight: lighter;
    font-variant:small-caps;
    text-decoration: none;
    font-size: 1.7em;
}

/* Style the current/active link */
nav a.active {
    color: var(--color-default);
    border-bottom: 1px solid var(--color-accent-1);
    padding-bottom: 1px;
}

nav a:hover {
    border-bottom: 1px solid var(--color-default);
    padding-bottom: 1px;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%; /* important for margin-top: auto to work */
}

/* style darkmode button */
.dark-mode-toggle {
    margin-top: auto; /* pushes it to the bottom */
    padding-top: 2rem;
}

.icon-btn {
    background-color: var(--color-background);
    height: 32px;
    width: 32px;
    margin: 8px 8px;
    cursor: pointer;
}





/* style main section of the page */

main {
    margin-left: var(--navbar-width);
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 7em;
    padding: 3rem 4rem;
}

/* Style main text elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Neutraface Text', sans-serif;
    font-weight: lighter;
    font-variant:small-caps;
    font-size: 2em;
}

h3{
    margin-top: 0.8em;

}

p, .list {
    font-size: 14pt;
    font-weight: lighter;
    max-width: 950px;
    text-align: justify;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    line-height: 1.4;
    color: var(--color-default);
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.list {
    margin-left: 7em;
}

a {
    text-decoration: none;
    color: var(--color-accent-1);
}

main a:hover{
    text-decoration: none;
    color: var(--color-accent-3);
}




/* style first paragraph on website in mobile compatible way */
.bio {
    margin-top: 1.4em;
}

.contacts{
    margin-top: 7%;
}

/* style other paragraph elements */
.pubinfo {
    margin-top: 0;
    margin-left: 3.5em;
}

.papertitle{
    font-style: italic;
}

.coauthors {
    color: var(--color-accent-2);
    font-size: var(--fontsize-normal);
    margin-top: 0;
   /* margin-left: 15px; */
}

.publicationstatus {
    font-style: italic;
    color: var(--color-accent-2);
    font-size: var(--fontsize-normal);
    /*margin-left: 15px;*/
}

.publicationdata {
    color: var(--color-accent-2);
    font-size: var(--fontsize-normal);
    margin-left: 5px;
}

.abstract {
    font-size: var(--fontsize-normal);
    color: var(--color-accent-2);
    margin-top: 0;
    margin-left: 10%;
}

.link {
    font-size: var(--fontsize-normal);
    margin-top: 0;
    margin-left: 15px;
}

.link.non-active {
    color: var(--color-accent-3);
}

.reference {
    font-size: 1.3em;
    margin-bottom: 0;
}

.description {
    margin-left: 4em;
}


img.profile {
    float: right;
    width: 300px; /* or your desired width */
    height: auto;
    margin-top: 1.8em;
    margin-left: 2.5em;
    margin-bottom: 1em;
}

svg {
    margin-right: 10px;
    vertical-align: text-bottom;
}


/* style footer */
.footer {
    background-color: var(--color-background);
    position: fixed;
    position: -ms-device-fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

#disclaimer {
    max-width: none;
    text-align: right;
    font-size: 10pt;
}





/* Make Site Mobile Friendly */

/* Hide hamburger on desktop, show on mobile */
#hamburger-btn {
  display: none;
  position: fixed;
  top: .4rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--color-accent-2);
  z-index: 999;
}

.current-page-title {
    display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
      nav {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          padding: 1rem;
          background: var(--color-background); /* use your existing background variable */
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          z-index: 998;
      }

    nav h1 {
        margin: 0;
        font-size: 1.5em;
    }


    #hamburger-btn {
        display: block;
    }

    .menu {
        display: none;
        background: var(--color-background);
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .menu.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    nav a {
        font-size: 1.3em;
    }

    .dark-mode-toggle {
        margin-top: 1rem;
    }

    .container {
        flex-direction: column;
    }

    main {
        margin-left: 0;
        padding: 3rem 3rem;
        margin-top: 0em; /* optional: adjust for mobile spacing */
    }

    .content {
        max-width: 100%;
    }


    /* adjusting font sizes and spacing for mobile */
    h1  {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.6em;
        margin-top: 1.5em;
    }

    .list {
        margin-left: 2.5em;
        text-align: left;
        font-size: var(--fontsize-normal);
    }

    .mobile-header{
        text-align: center;
    }

    .current-page-title {
        display: inline-block;
        margin-top: 2em;
        color: var(--color-default);
        border-bottom: 1px solid var(--color-accent-1);
        padding-bottom: 1px;
    }

    .img-container {
        width: 250px;
        height: 250px;
        overflow: hidden;
        margin: 3em auto 7%;
    }

    img.profile {
        object-fit: cover;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        vertical-align: middle;
    }

    p {
        font-size: var(--fontsize-normal);
    }

    .reference {
        font-size: 1.1em;
    }

    :root {
        --fontsize-normal: 12pt;
    }

    .description {
        margin-left: 2em;
    }

    .pubinfo {
        margin-top: 0;
        margin-left: 2em;
    }

}


